[submodule "solarized"]
	path = solarized
	url = git@github.com:altercation/solarized.git
[submodule "osx-terminal.app-colors-solarized"]
	path = osx-terminal.app-colors-solarized
	url = git@github.com:tomislav/osx-terminal.app-colors-solarized.git
[submodule "mongo-hacker"]
	path = mongo-hacker
	url = git@github.com:FuriKuri/mongo-hacker.git
