[submodule "solarized"]
	path = solarized
	url = git@github.com:altercation/solarized.git
[submodule "osx-terminal.app-colors-solarized"]
	path = osx-terminal.app-colors-solarized
	url = git@github.com:tomislav/osx-terminal.app-colors-solarized.git
[submodule "mongo-hacker"]
	path = mongo-hacker
	url = git@github.com:FuriKuri/mongo-hacker.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "Menlo-for-Powerline"]
	path = Menlo-for-Powerline
	url = git@github.com:abertsch/Menlo-for-Powerline.git
